/* laptop */
@media (max-width: 1024px) {
  #wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #featured {
    display: inline-block;
    width: 95%;
    margin: 0 2.5%;
  };
}

/* iPad, laptop */
@media (max-device-width: 1024px), (max-width: 650px) {
  #wrapper {
    width: 1024px;
    margin: 0;
  }

  #clr-tiles {
    display: none;
  }

  .work {
    width: 100%;
    margin: 0 0 20px;
  }

  .work:hover {
    border: none;
  }

  .work img {
    width: 50%;
    height: 100%;
  }

  .work .description {
    width: 50%;
    position: relative;
    left: 0;
    text-align: center;
    padding: 10px 20px 10px;
    height: 100%;
  }

  .work h3 {
    width: 50%;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .work .description h4 {
    display: none;
  }

  .work .description p {
    width: 100%;
    font-size: 23px;
    line-height: 35px;
    margin-top: 35px;
  };
}

/* Nexus 5 phone, laptop */
@media (max-device-width: 650px), (max-width: 650px) {
  #wrapper {
    width: 100%;
    min-width: 300px;
    margin: 0;
  }

  #clr-tiles {
    display: none;
  }

  #wrapper {
    padding: 0;
  }

  #custom_logo img {
    width: 70px;
    height: 70px;
  }

  header {
    padding: 5px;
    height: 80px;
  }

  header div h1 {
    font-size: 35px;
  }

  header div h3 {
    font-size: 16px;
  }

  header div img {
    display: none;
  }

  #content > img {
    min-height: auto;
    margin: 10px 0;
  }

  #content > h2 {
    text-align: center;
    margin: 0 0 10px 0;
  }

  .work {
    height: auto;
  }

  .work img {
    width: 100%;
    margin-top: 47px;
  }

  .work .description {
    width: 100%;
    height: auto;
  }

  .work .description p {
    margin: 0;
  }

  .work h3 {
    width: 100%;
    left: 0;
    border-bottom: none;
  }

  #mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 5px;
    z-index: 5;
  }

  #mobile-nav a {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 -1px 2px;
  };
}

/* laptop */
@media (max-device-width: 650px), (max-width: 350px) {
  #featured {
    display: inline-block;
    width: 100%;
    margin: 0%;
  };
}